img{
    cursor: pointer;
}

img:hover{
    -webkit-transform:scale(0.9);transform:scale(0.9);
}

.fondo{
    background-color: rgb(255, 147, 51);
}

.ocultar{
    display: flex;
}

@media screen and (max-width: 546px) {
    .ocultar{
        display: none;
    }
}