<!-- Footer de iconos -->
<footer class="navbar navbar-expand-lg navbar-light fixed-bottom fondo container-fluid justify-content-between mostrar">
    <img src="./assets/g4052_1.png" alt="" routerLink="nuestras-pizzas">
    <img src="./assets/g4073_1.png" alt="" routerLink="paquetes-promociones">
    <img src="./assets/path3999_1.png" alt="" routerLink="nuestros-adicionales">
    <img src="./assets/g4015_1.png" alt="" routerLink="carrito">
</footer>

<!-- Footer de información -->
<footer class="footer">
  <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
    <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
  </svg>
  <div class="row">
    <div class="col">
      <ul><h2 class="footer-menu-name informacion">Contacto</h2>
        <li class="footer-menu-list">
          <i class="fas fa-clock fa-lg"></i><span class="informacion"> Horario</span><br>Lun.-Dom.	13:00 - 22:30
        </li>
        <li class="footer-menu-list">
          <i class="fas fa-phone-alt fa-lg"></i><span class="informacion"> Teléfonos</span><br>951-501-0718
        </li>
        <li class="footer-menu-list">
          <i class="fas fa-envelope fa-lg"></i><span class="informacion"> Email</span><br><a href="#" target="_blank" rel="noopener noreferrer">pizza_magica@hotmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="footer-menu-name informacion">Ubicación</h2>
      <i class="fas fa-map-marker-alt fa-lg"></i><a href="https://goo.gl/maps/sErTmeTfGroLkKxn9" target="_blank" rel="noopener noreferrer"> Calle jardín madero, 201/A, Centro, Oaxaca de Juárez, Oax, C.P. 68000</a>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30512.000922869993!2d-96.76545162523006!3d17.072647049136403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72238c0dfd4cd%3A0xc430d2361a8a3b73!2sPizzeria%20magica%20jardin!5e0!3m2!1ses!2smx!4v1649206002628!5m2!1ses!2smx" style="border:0;" height="200" width="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col">
      <h2 class="footer-menu-name informacion">Síguenos en nuestras redes sociales</h2>
      <ul>
        <li class="footer-menu-list">
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-lg"></i> Facebook</a>
        </li>
        <li class="footer-menu-list">
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i> Twitter</a>
        </li>
        <li class="footer-menu-list">
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-lg"></i> Instragram</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col pie">2022 Ⓒ Pizza Mágica Todos los derechos reservados. Términos y condiciones</div>
  </div>
</footer>