<div class="container">
    <div class="mb-md-1 pb-4">
        <h3 class="fw-bold mb-2">
            <span class="amarillo">Registrarse</span>
        </h3>
        <p class="text-black-50 mb-2">Introduce los datos que se piden a continuación</p>
        <div class="form-outline form-black">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Jonty Andrews" required>
            </mat-form-field>
        </div>
        <div class="form-outline form-black">
            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input matInput placeholder="pat@example.com" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-outline form-black">
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="boton">
            <button class="btn btn-outline-dark btn-md px-5 fw-bold" type="submit">Registrarse</button>
        </div>
    </div>
    <div>
        <p class="mb">¿Ya tienes una cuenta? <span class="text-black-50 fw-bold"><span class="amarillo click">Inicia sesión</span></span></p>
    </div>
</div>