<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>person</mat-icon>
                <span>Acceso</span>
            </ng-template>
            <app-login></app-login>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>person_add</mat-icon>
                <span>Registro</span>
            </ng-template>
            <app-register></app-register>
        </mat-tab>
    </mat-tab-group>
</div>