<a class="card">
    <h3 matTooltip="hola xd">{{producto?.nombre}}</h3>
    <img class="img-fluid" src="{{producto?.imagen}}" alt="">
    <div class="row">
        <div class="col">
            <span class="especifico">{{producto?.especificacion}}</span>
        </div>
        <div class="col">
            <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="actualizarProducto()"></button>
                <input type="number" class="quantity" min="0" max="20" name="quantity" value="{{producto.cantidad}}" id="quantity" disabled>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click)="actualizarProducto()"></button>
            </div>
        </div>
    </div>
</a>
