<div class="container">
    <div class="row">
        <h2 class="titulo">HAWAIANA</h2>
        <h5 class="subtitulo">Pepperoni, Carne Molida, Jamón, Chorizo, Pimiento, Cebolla, Champiñones Frescos, Aceitunas y Extra Queso.</h5>
    </div>
    <div class="row primero">
        <div class="col imagen">
            <img class="rounded img-fluid" src="https://assets.dominos.com.mx/dev/webOptimized/especialidad/HNC/HNC.png" alt="">
        </div>
        <div class="col tamanio">
            <div class="row"><h5 class="apartado">Tamaño</h5></div>
            <div class="row">
                <input type="radio" name="tamanio" value="1" id="TamC" checked>
                <label for="TamC">Chica 25 cm 
                    <span>
                        <mat-divider [vertical]="true"></mat-divider>
                        3<mat-icon>accessibility_new</mat-icon>
                    </span>
                </label>
                <input type="radio" name="tamanio" value="1.3" id="TamM">
                <label for="TamM">Mediana 35 cm 
                    <span>
                        <mat-divider [vertical]="true"></mat-divider>
                        5<mat-icon>accessibility_new</mat-icon>
                    </span>
                </label>
                <input type="radio" name="tamanio" value="1.7" id="TamG">
                <label for="TamG">Grande 45 cm 
                    <span>
                        <mat-divider [vertical]="true"></mat-divider>
                        8<mat-icon>accessibility_new</mat-icon>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col numero">
            <div class="row"><h5 class="apartado">Cantidad</h5></div>
            <div class="cantidad">
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                    <input type="number" class="quantity" min="1" max="20" name="quantity" value="1" id="quantity" name="quantity" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row"><h5 class="apartado">Mitad y mitad</h5></div>
            <div class="row">
                <div class="col mitad">
                    <mat-form-field>
                        <mat-label>Mitad izquierda</mat-label>
                        <mat-select>
                          <mat-option value="exeex">
                            Opcion 1
                          </mat-option>
                          <mat-option value="ss">
                            Opcion 2
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col mitad">
                    <mat-form-field>
                        <mat-label>Mitad derecha</mat-label>
                        <mat-select>
                          <mat-option value="exeex">
                            Opcion 1
                          </mat-option>
                          <mat-option value="ss">
                            Opcion 2
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col total">
            <div class="row"><h5 class="apartado">Total</h5></div>
            <div class="row">
                <h2 class="total">$18032</h2>
            </div>
        </div>
    </div>
    <div class="row final">
        <div class="col texto">
            <p>¿Quieres cambiar algún ingrediente? Utiliza nuestra <a routerLink="/pizzas">Pizza Mágica</a></p>
        </div>
        <div class="col botones">
            <button mat-flat-button class="btn-secondary"><mat-icon>cancel</mat-icon>Cancelar</button>
            <button mat-flat-button class="btn-success"><mat-icon>add_shopping_cart</mat-icon>Agregar</button>
        </div>
    </div>
</div>