.container-fluid{
    padding-top: 70px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

@media screen and (max-width: 546px) {
    .contenido{
        padding-bottom: 70px;
    }
}