.container-fluid{
    padding-top: 70px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

button{
    width: 100%;
}

p{
    margin: 0;
    color: rgb(50, 20, 2);
    font-size: medium;
    font-weight: bold;
}

:host ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(255, 147, 51);
}

@media screen and (max-width: 546px) {
    .contenido{
        padding-bottom: 70px;
    }
}