<h3 mat-dialog-title><mat-icon class="amarillo" mat-dialog-close="true" matTooltip="Cancelar">close</mat-icon></h3>
<mat-dialog-content>
    <h5 class="cafe">Para continuar con tu orden, proporciona la información solicitada.</h5>
    <div class="row">
        <div class="col uno">
            <p class="cafe">Llevamos tu orden</p>
            <p class="info">Sólo indícanos <span class="amarillo">tu dirección.</span></p>
            <img src="./assets/g8646.png" alt="" class="mx-auto d-block">
            <div class="row boton">
                <button class="btn btn-outline-dark btn-md px-5 fw-bold" type="submit">ORDENA AHORA</button>
            </div>
        </div>
        <div class="col">
            <p class="cafe">Recoge tu orden</p>
            <p class="info">En <span class="amarillo">nuestro local</span></p>
            <img src="./assets/g1020.png" alt="" class="mx-auto d-block">
            <div class="row boton">
                <button class="btn btn-outline-dark btn-md px-5 fw-bold" type="submit">ORDENA AHORA</button>
            </div>
        </div>
    </div>
</mat-dialog-content>