<div class="container">
    <h2 class="amarillo">Te ofrecemos</h2>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>local_drink</mat-icon>
                <span>Bebidas</span>
            </ng-template>
            <div class="cards">
                <app-adicional-card (evento)="ngOnInit()" *ngFor="let bebida of listOfBebidas; let i=index" [producto]="bebida" [index]="i"></app-adicional-card>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>restaurant</mat-icon>
                <span>Entradas</span>
            </ng-template>
            <div class="cards">
                <app-adicional-card (evento)="ngOnInit()" *ngFor="let entrada of listOfEntradas; let i=index" [producto]="entrada" [index]="i"></app-adicional-card>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>cake</mat-icon>
                <span>Postres</span>
            </ng-template>
            <div class="cards">
                <app-adicional-card (evento)="ngOnInit()" *ngFor="let postre of listOfPostres; let i=index" [producto]="postre" [index]="i"></app-adicional-card>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon> fastfood</mat-icon>
                <span>Otros</span>
            </ng-template>
            <div class="cards">
                <app-adicional-card (evento)="ngOnInit()" *ngFor="let otro of listOfOtros; let i=index" [producto]="otro" [index]="i"></app-adicional-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>