<a class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
        <img class="img-fluid" src="{{pizza?.imagen}}" alt="">
        <h3 class="color">{{pizza?.nombre | uppercase}}</h3>
        <div class="row botones">
            <div class="col"><button mat-flat-button class="btn-success" (click)="ordenar()">ORDENAR</button></div>
            <p class="info">*Presiona para más detalles*</p>
        </div>
    </div>
    <div class="face front">
        <p class="descripcion">{{pizza?.descripcion}}</p>
        <p><span class="ingredientes">Ingredientes:</span> {{pizza?.especificacion}}</p>
    </div>
</a>